<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
        <fa-icon [icon]="faPlus"></fa-icon> Adaugă
      </button>
    </div>
    <div class="col-4">
      <h4 class="text-center">Persoane</h4>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="col-12 position-relative width-1220">
    <div
      id="view"
      class="view-scroll-persoane"
      style="max-height: 60vh"
      [scrollWindow]="false"
      (scroll)="showTopButton()"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="30"
      (scrolled)="onScrollDown()"
    >
      <button
        type="button"
        id="back-top"
        class="{{ this.showBackTop }}"
        (click)="onScrollTop()"
      >
        <fa-icon [icon]="faChevronUp"></fa-icon>
      </button>

      <table class="table table-hover table-striped table-bordered font-14 p-0">
        <thead>
          <tr class="table-bordered">
            <th width="60px" rowspan="2">Nr. Crt.</th>
            <th>Nume / Prenume</th>
            <th>CNP</th>
            <th>Vârstă</th>
            <th>Mașini</th>
            <th rowspan="2" width="60px"></th>
          </tr>
          <tr>
            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                [(ngModel)]="filterNumePrenume"
              />
            </th>
            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                [(ngModel)]="filterCnp"
              />
            </th>
            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                [(ngModel)]="filterVarsta"
              />
            </th>
            <th>
              <input
                class="form-control input-xs"
                placeholder="Căutare..."
                [(ngModel)]="filterMasini"
              />
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let r of persoaneFiltrate.slice(0, limit); let i = index"
            (dblclick)="addEdit(r.id)"
            class="cursor-pointer"
          >
            <td width="60px" class="text-center">{{ i + 1 }}</td>
            <td>{{ r.nume }} {{ r.prenume }}</td>
            <td>{{ r.cnp }}</td>
            <td>{{ r.varsta }}</td>
            <td>
              <ul>
                <li *ngFor="let m of r.masini">
                  {{ m.marca }} / {{ m.model }}
                </li>
              </ul>
            </td>
            <td width="60px" class="text-center">
              <fa-icon
                class="text-primary"
                [icon]="faEdit"
                (click)="addEdit(r.id)"
                matTooltip="Modificare"
              ></fa-icon>
              <span
                style="
                  display: inline-block;
                  width: 2px;
                  height: 16px;
                  background: #ccc;
                  margin: 0 4px;
                  vertical-align: middle;
                "
              ></span>
              <fa-icon
                class="text-danger"
                [icon]="faTrashAlt"
                (click)="delete(r)"
                matTooltip="Ștergere"
              ></fa-icon>
            </td>
          </tr>

          <tr colspan="15" *ngIf="!persoane.length" class="text-center fw-bold">
            <td>Date inexistente!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
